<a href="https://colab.research.google.com/github/Revathi-Bejawada/RevathiINFO5731_Spring2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [1]:
# write your answer here
import collections

def char_count():
    r = input('Enter a String: ') # enter your desired string
    return collections.Counter(list(r)) #  count elements from a string
print(char_count())

Enter a String: google.com
Counter({'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1})

(2) Write a Python program to sum all the items in a list. (5 points)

In [19]:
#write your code here

user_input = input("Enter a list element separated by space ")
Range  = user_input.split()
Sum = 0

for num in Range: # Iteration of each element in a list
    Sum += int (num)

print("Sum of all elements in the list = ",Sum) # prints sum of list

Enter a list element separated by space 1 23 44 64 2 7
Sum of all elements in the list =  141

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [10]:
# write your answer here
def replace_char(word):  #word here is restart
  character = word[0] # word[0]=r so charcater= r
  word = word.replace(character, '$') #replace r letters in the word restart so word = $esta$t
  word = character + word[1:] # word = resta$t

  return word

rb = input('enter the word: ')
print(replace_char(rb))

enter the word: restart
resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [9]:
# write your answer here
a = float(input('enter the a value:'))
b = float(input('enter the b value:'))
s = 3.14*(1+a/b)**3
print('The value of s is: ',s)

enter the a value:12
enter the b value:18
The value of s is:  14.537037037037033

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [7]:
# write your answer here
dy_1={1:10, 2:20}
dy_2={3:30, 4:40}
dy_3={5:50,6:60}
dy_4 = {}
for r in (dy_1, dy_2, dy_3): dy_4.update(r)
print(dy_4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [6]:
# write your answer here
my_name = ("r", "e", "v", "a", "t", "h", "i")
my_dob = ("6", "6", "1998")
print("r" in my_name)
print(5 in my_dob)
print("1998" in my_dob)
print("s" in my_name)

True
False
True
False

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [5]:
# write your answer here
from typing import Set
set = {18, 67, 4, 84, 38, 22}
print("Maximum value in a set:" , max(set))
print("Minimum value in a set:", min(set))

Maximum value in a set: 84
Minimum value in a set: 4

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [4]:
#write your code here
import random

def random_list(r):
    random.shuffle(r)
    s = []
    t = len(r) / 6
    f = 0
    while(f < t):
        u = []
        for x in r:
            if len(u) == 5:
                break
            u.append(x) 
        s.append(u)
        f += 1
    return s

student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
res = random_list(student_list)
for g in res:
     print(g)

['ja0964', 'sm1640', 'sa1198', 'ak0956', 'jl1252']
['ja0964', 'sm1640', 'sa1198', 'ak0956', 'jl1252']
['ja0964', 'sm1640', 'sa1198', 'ak0956', 'jl1252']
['ja0964', 'sm1640', 'sa1198', 'ak0956', 'jl1252']
['ja0964', 'sm1640', 'sa1198', 'ak0956', 'jl1252']

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [18]:
# write your answer here
def Repeat(r):

    _size1 = len(r)

    repeated = []

    for e in range(_size1):

        f = e + 1

        for g in range(f, _size1):

            if r[e] == r[g] and r[e] not in repeated:

                repeated.append(r[e])

    return -1 if len(repeated) == 0 else repeated

# Driver Code

list1 = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20] # there are multiple dupicates in this list
list2 = [1, 2, 3] # no duplicates so it must return -1
list3 = [99, 0, 81, 99, 64] # one duplicate is present

print (Repeat(list1))
print (Repeat(list2))
print (Repeat(list3))

[20, 30, -20, 60]
-1
[99]

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [17]:
import datetime
desired_year = int(input("Enter your desired year:"))
first_day = datetime.date(desired_year, 12, 31).strftime("%j")
rb = datetime.date(desired_year, 1, 1)
d_difference = datetime.timedelta(days=1)
for s in range(1, int(first_day) + 1):
  if rb.isoweekday() == 1:
    print(rb)
  rb += d_difference

Enter your desired year:2029
2029-01-01
2029-01-08
2029-01-15
2029-01-22
2029-01-29
2029-02-05
2029-02-12
2029-02-19
2029-02-26
2029-03-05
2029-03-12
2029-03-19
2029-03-26
2029-04-02
2029-04-09
2029-04-16
2029-04-23
2029-04-30
2029-05-07
2029-05-14
2029-05-21
2029-05-28
2029-06-04
2029-06-11
2029-06-18
2029-06-25
2029-07-02
2029-07-09
2029-07-16
2029-07-23
2029-07-30
2029-08-06
2029-08-13
2029-08-20
2029-08-27
2029-09-03
2029-09-10
2029-09-17
2029-09-24
2029-10-01
2029-10-08
2029-10-15
2029-10-22
2029-10-29
2029-11-05
2029-11-12
2029-11-19
2029-11-26
2029-12-03
2029-12-10
2029-12-17
2029-12-24
2029-12-31